.m-calendaratoms-heading, .m-calendaratoms-preeading, .m-calendaratoms-heading > * {
    display:inline;
}
.m-calendaratoms-head h3 {
    margin-bottom: 0px!important;
}
/**/
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cycle-slideshow { min-width: 200px; margin: auto; padding: 0; }
/* anchors */
.cycle-slideshow {
    margin-bottom:5px;
    width: 100%;
}
.cycle-slideshow.content {}
.cycle-arrow{
    display: inline;
    padding: 0px 5px 0px 5px;
    -webkit-user-select: none;
    user-select: none;
    z-index: 10;
    cursor: pointer;
    color: #555555;
    text-align: center;
    font-size: 14px !important;
    color:#ff0000;
}
.cycle-arrow.disabled a {
    color:#989898!important;
}
.container-caption {
    text-align: right;
    float: right;
    padding-bottom: 10px;
}
.cycle-arrow:active{
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.cycle-slide.cycle-slide-active {
    display: block !important;
}
.cycle-slide {
    display: none !important;
    position: relative !important;
    opacity: 1 !important;
}
.calendar {}
.calendar-content{}
.calendar-tour {
    padding: 10px;
}
.day-week {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.calendar-tour-no-events {
    font-family: "montserrat bold"!important;
}
.calendar-tour-time {
    font-family: "montserrat bold"!important;
}
.calendar-tour-link a {
    line-height: 14px;
    display: block;
    font-size: 12px;
}
.date-period {
    font-family: "montserrat bold"!important;
}
.boxes {
  display:table;
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
  border-radius: 3px;
}
.box {
  display: table-cell;
  width: 14.285714285714285714285714285714%;
}
.box:nth-child(1),.box:nth-child(2),.box:nth-child(3),.box:nth-child(4),.box:nth-child(5),.box:nth-child(6) {
    border-right: 1px solid #eee;
}

@media (max-width: 420px) {
    .box {
        display: block;
        width: 100%;
    }
    .box:nth-child(2), .box:nth-child(3), .box:nth-child(4), .box:nth-child(5), .box:nth-child(6), .box:nth-child(7) {
        border-top: 1px solid #eee;
        border-right: none;
    }
    .box:nth-child(1) {
        border-right: none;
    }
}